.container{
  width: 100vw;
  height: 100%;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.heading{
  width: 100vw;
  background-color: black;
  height: 40px;
}
.heading span{
  font-size: larger;
  color: white;
}